@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Deployement to AWS </h1>
    <p>ASP.NET app deployment testing to AWS app runner.</p>
</div>
